.container {
}

.main {
  min-height: 100vh;
  flex: 1;
  display: grid;
  grid-template-rows: auto, 1fr;
  justify-content: center;
  align-items: center;
}
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 100%;
  column-gap: 10px;
}